<head>
    <title>{{title}}</title>
</head>
<div class="">
    <h1 class="center pt-3">Bienvenidos a home</h1>
    <h4 class="center pt-5"> Aca vamos a encontrar todos los productos pero no actualizados en tiempo real</h4>
</div>



<link rel="stylesheet" href="/css/index.css">
<script src="/js/client.js"></script>