<div>
    <header class="header">
        <div class="header__letter">logo chico</div>
        <div class="header__letter"> logo principal</div>
        <div class="header__letter"> redes sociales</div>
    </header>

    <main>
        <h1 class="center pt-5">Bienvenidos!</h1>
        <p class="container pt-5 pb-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut expedita nobis deserunt reiciendis. Asperiores, consectetur tempore nobis atque hic laborum fuga commodi itaque mollitia sequi natus id, aperiam sunt, distinctio sed corrupti? Ipsam molestiae dignissimos nisi tenetur magnam a, libero rem quia maiores veritatis veniam odit pariatur vel autem provident alias nobis inventore et reprehenderit vitae saepe? Quaerat quibusdam, provident at ratione est facilis dignissimos, eum veritatis et necessitatibus excepturi velit veniam nisi eligendi a quam odit eos, voluptas perspiciatis. Iure fugiat molestiae obcaecati pariatur optio, ratione maxime asperiores consectetur quam laboriosam minima cumque nisi sequi corrupti delectus odio similique impedit corporis? Aspernatur nemo dolor voluptatibus exercitationem obcaecati magni dolores. A exercitationem, ullam fugit alias doloribus nostrum animi consectetur nulla hic fugiat dignissimos praesentium quod porro nisi reprehenderit sed corrupti asperiores quos esse? Similique quam reiciendis sit, repellat deleniti ipsam minus illum. Est sequi deserunt, soluta ab laborum impedit asperiores. Ipsa dolore ipsam, laudantium nemo inventore expedita voluptates error? Cumque eaque ipsa iure laborum voluptatibus, quas voluptate ipsam exercitationem illum necessitatibus tenetur laudantium hic quibusdam expedita eos eligendi accusantium earum temporibus at mollitia quos asperiores? Repellat illo nisi mollitia libero veniam eum asperiores fugit ratione corrupti quaerat! Dolores facere quia quas! Minima aliquid eaque voluptatem totam, aspernatur reprehenderit rerum esse expedita consectetur ullam corporis dicta, quia sed accusantium accusamus aut, dignissimos ab eius voluptatibus? Quia odio commodi reiciendis? Magni alias saepe doloremque atque, pariatur deserunt soluta voluptas, velit dolore exercitationem sint molestiae a odio dignissimos iure mollitia enim quibusdam cum amet neque eaque obcaecati harum nesciunt similique! Numquam cum eum quasi explicabo! Quos ad quasi minus non temporibus iure adipisci asperiores quo? Hic tempore totam illo minus architecto eos odio minima facilis quam excepturi fugiat optio, odit omnis? Nam officiis veritatis, et error labore eos hic sunt repellat fuga quis minus eligendi soluta, laboriosam molestiae amet quo exercitationem? Molestias similique expedita vero voluptatibus nam excepturi vel, iste in ducimus, quam soluta quaerat rem! Harum, odio. Itaque molestiae magni libero labore ullam ut necessitatibus rerum! Necessitatibus laudantium eligendi aut expedita atque, harum eaque perferendis eveniet autem delectus corrupti numquam ad, qui rem inventore similique accusamus pariatur officia doloremque, dolor accusantium odit cum reprehenderit id? Laudantium voluptates qui tempora, deserunt nulla esse molestiae labore illum tempore rerum incidunt modi aut. Et, odit in! Aliquid itaque nemo labore voluptatum recusandae corporis illo ad! Sit alias ea impedit molestias cumque laborum nostrum quos natus atque ipsum voluptatibus, rerum inventore mollitia soluta illum voluptates itaque rem dolorem. Provident, molestiae fuga. Eos, dignissimos omnis vero magni perspiciatis vel exercitationem doloribus doloremque. Mollitia ipsum, officiis magni quidem nesciunt cupiditate sit voluptate sapiente nulla corporis nisi modi dolorem animi tempore corrupti non itaque. Adipisci tempora omnis officia deserunt suscipit, amet alias, reiciendis perferendis nostrum tempore, praesentium maiores consequatur. Facilis minima totam deleniti maiores vel mollitia eaque vitae recusandae voluptatibus id alias, quae deserunt suscipit nisi, harum veniam quo cupiditate dolor doloribus. Fuga, corrupti. Ratione laudantium et laboriosam ipsum, sapiente earum architecto exercitationem natus ipsa voluptates ut molestias accusamus!</p>


    </main>

    <footer class="header">
        <div class="header__letter">logo chico</div>
        <div class="header__letter"> logo principal</div>
        <div class="header__letter"> redes sociales</div>

    </footer>

</div>

<link rel="stylesheet" href="/css/index.css">
<script src="/js/index.routes.js"></script>