<head>
    <title>{{title}}</title>
</head>
<div class="background login__padding">

    <div class="container d-flex align-items-center flex-column justify-content-center">
        <header class="header__login p-3">
            <h1 class="">Login</h1>
        </header>
    </div>
    <div class="container d-flex align-items-center flex-column pt-3">
        <main class="main__login">
            <div class="container">
                <form action="/auth/login" method="post">

                    <div class="form-group pb-1 d-flex align-items-center flex-column justify-content-center">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" id="email" required>
                    </div>
                    <div class="form-group pb-1 d-flex align-items-center flex-column justify-content-center">
                        <label for="password">Contraseña</label>
                        <input type="password" class="form-control" name="password" id="password" required>
                    </div>
                    <div class="p-2">
                        <button type="submit" class="btn btn-dark btn-login main__button">Ingresar</button>
                    </div>
                </form>
                <div class="container d-flex align-items-center  ">

                    <div class="p-2">
                        <a href="/register"><button type="btn"
                                class="btn btn-dark btn-login main__button">Registrarme</button></a>
                    </div>
                    <div class="p-2">
                        <a href="/auth/github"><button type="btn" class="btn  btn-login main__button"><img src="https://i.pinimg.com/564x/63/de/54/63de5479e8eb4676570c49e2579cab01.jpg" class="img__github" alt=""></button></a>
                                
                    </div>
                </div>
            </div>
        </main>
    </div>

</div>