<head>
    <title>{{title}}</title>
</head>
<div class="container">
    <h1>
        hola {{name}}!
    </h1>
    <h3>
        Tu rol es : {{role}}
    </h3>
    <h3>
        <a href="/auth/logout">Logout</a>
    </h3>
</div>