<div > 
    <div class="d-flex justify-content-center">
    <h1>Real Time Products</h1>

    </div>

<div class="d-flex justify-content-center pt-3">

        <div id="box" class="d-flex gap-3 flex-column">

        </div>


</div>



    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/realtimeproducts.js"></script>
