.header{
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: bisque;
}

.header__letter{
    color: #00b6ff;;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    border: 1px black solid;
}

/* button enviar */

.iota .btn-primary {
    color: #52C11F;
    border-color: #52C11F;
}
.iota .btn {
    display: inline-block;
    margin: 4px;
    font-size: inherit;
    line-height: 1.42;
    padding: 0.6em 1.6em;
    font-weight: normal;
    border-width: 2px;
    border-style: solid;
    background: transparent;
    border-radius: 1.46em;
    cursor: pointer;
    font-family: "Booster Next FY", "Avenir Next", Avenir, sans-serif;
    user-select: none;
    vertical-align: bottom;
    position: relative;
    border-style: solid;
    overflow: hidden;
    transition: background-color 0.3s, color 0.3s;
}
